#button {
    padding: 15px;
    background-color: gray;
    border-radius: 9px;
    border: 10px solid gray 1;
    color: white;
}
body{
    text-align: center;
}
div{
    text-align: center;
    margin-top: 40vh;
}